tr.block td   {
 border-bottom: 1px dashed black;   
 border-right: 1px dashed black;
}

.time {
    text-align: center;
}

.centerArea {
    background-color: springgreen;
    resize: none;
}
.title {
    text-align: center;
    font-size: 128px;
}
.subtitle {
    text-align: center;
    font-size: 48px;
}