.day {
    font-size: 36px;
    text-align: center;
}
tr.block td   {
 border-bottom: 1px dashed black;   
 border-right: 1px dashed black;
}
.time {
    text-align: center;
}
.centerAreaFuture {
    background-color: springgreen;
    resize: none;
}
.centerAreaCurrent {
    background-color: lightgray;
    resize: none;
}
.centerAreaPast {
    background-color: coral;
    resize: none;
}
.title {
    text-align: center;
    font-size: 128px;
}
.subtitle {
    text-align: center;
    font-size: 48px;
}
.lock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 60%;
}